<div>
    <h1>Carrito</h1>
    <h2>Productos</h2>
    <div>
        {{#each toSendObject}}
            <div>
                <h2>ID del producto: {{_id}}</h2>
                <h3>Cantidad: {{quantity}}</h3>
            </div>
            <hr>      
        {{/each}}
    </div>
</div>
<script></script>